@import "../../styles/_variables.scss";
@import "../../styles/_mixins.scss";

.MuiTypography-root {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include respond-to(medium) {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 10px;

    * {
      margin: 0px;
    }

    input {
      width: 100% !important;
    }
  }
}


.buttons-modal-new-site {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;

  @include respond-to(medium) {
    display: flex;
    margin: 10px 0px;
    width: 100%;
    align-content: stretch;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
  }

  button {
    @include respond-to(medium) {
      width: 100%;
      margin: 10px 0px;
    }
  }
}