@import "../../styles/_variables.scss";
@import "../../styles/_mixins.scss";

.MuiTypography-root {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include respond-to(medium) {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 10px;

    * {
      margin: 0px;
    }

    input {
      width: 100% !important;
    }
  }
}