/* Site Modal */

.MuiTypography-root {
    /* background: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* mobile */
@media(max-width:767px) {
    .MuiTypography-root {
        flex-direction: column;
        align-items: flex-start;
    }

    .MuiTypography-root {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }

    .MuiTypography-root>* {
        margin: 0px;
    }

    .MuiTypography-root input {
        width: 100% !important;
    }
}