@import "../../styles/_variables.scss";
@import "../../styles/_mixins.scss";

.page-open .container,
.content .container {
  @include container-style($container-border-color, $container-perg-shadow);
  padding: 0.8em;
  margin-bottom: 1em;
  flex-direction: row;
  @include flex-start;
}

.page-profile .label-avatar {
  width: 280px;
  height: 280px;
  cursor: pointer;

  span {
    position: absolute;
    opacity: $avatar-hover-opacity;
    transition: all 0.5s;

    &:hover {
      opacity: 1;
      transform: scale(1.4);
    }
  }
}


.page-open form {
  margin-top: 1.5em;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
}

.page-open .container-perg-open {
  display: flex;
  margin: 0.5em 0 2em 0;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: column;
  border: 1px solid $border-color-light-2;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px;
}

.siteInfo {
  max-width: 100%;
  display: flex;
  width: 600px;
  text-transform: uppercase;
  align-items: baseline;
  justify-content: space-between;

  select {
    height: 40px !important;
    border-radius: 10px;
    padding: 3px;
    background: transparent;

  }


  @include respond-to(medium) {
    flex-direction: column;

    span {
      font-weight: bold;
      margin-top: 0.5em;
    }
  }

  span {
    font-weight: bold;
  }

  li {
    margin-bottom: 0.5em;
  }
}

.page-open .form-open {
  label {
    font-weight: bold;
  }

  i,
  span {
    margin-bottom: 0.8em;

    .list_resp_question {
      display: flex;
      align-items: center;
    }

    svg {
      margin-right: 0.8em;
    }

    &[data-text="Sim"] {
      background-color: $btn-action-green;
      color: $white-color;
      max-width: 60px;
      max-height: 50px;
      text-align: center;
      padding: 5px;
      font-weight: bold;
    }

    &[data-text="Não"] {
      background-color: $btn-action-red;
      color: $white-color;
      max-width: 60px;
      max-height: 50px;
      text-align: center;
      padding: 5px;
      font-weight: bold;
    }

    &[data-text="N/A"] {
      background-color: #FFD700;
      color: $white-color;
      max-width: 60px;
      max-height: 50px;
      text-align: center;
      padding: 5px;
      font-weight: bold;
    }

    &[data-text="Ativar-PA"] {
      background-color: $btn-activate-pa-bg;
      color: $white-color;
      max-height: 50px;
      text-align: center;
      padding: 5px;
      font-weight: bold;

      &:hover {
        cursor: pointer;
        background-color: $btn-activate-pa-hover-bg;
      }
    }
  }

  .textArea {
    background-color: $bg-light-gray;
    padding: 5px;
    border-radius: 5px;
  }

  img {
    margin-bottom: 0.9em;
    max-height: 300px;
    max-width: 300px;
  }

  div {
    display: flex;
    margin: 0.5em 0 2em 0;
    justify-content: space-around;
    flex-direction: column;
  }

  #button-area {
    background-color: $btn-primary-bg;
    border: 1px solid $button-login-bg;
    color: $white-color;
    padding: 0.5em;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 0.2em;

    &:hover {
      background-color: $white-color;
      color: $text-color-dark;
      border: 1px solid var($button-login-bg);
    }
  }
}

.page-open .Edit,
.page-open .plano-acao {
  text-align: right;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  svg {
    margin-right: 0.2em;
  }

  a {
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;

    &[data-check="Não"] {
      background-color: $btn-action-red;
      color: $white-color;
      justify-content: center;
    }

    &[data-check="Sim"] {
      background-color: $btn-action-green;
      color: $white-color;
    }

    &[data-check="Concluido"] {
      background-color: $btn-action-yellow;
      color: $white-color;
    }
  }
}

.page-open div#container-loja {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.page-open select#selectTipoLoja {
  width: 290px
}

.page-open input#selectValorEstoque {
  width: 290px;
}

.page-open #selectSite,
.page-open #selectMotivo {
  width: 590px;
}

@media(max-width:767px) {

  .page-open #selectSite,
  .page-open #selectMotivo {
    width: 100%;
  }

  .page-open div#container-loja {
    flex-direction: column;
    width: 100%
  }

  .page-open select#selectTipoLoja,
  .page-open #selectValorEstoque {
    width: 96% !important;
  }
}