.container-perg {
    border: 1px solid #8080804d;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 1px 2px 11px #0000003d;
}

.form-prenew div {
    display: flex;
    margin-top: 0.5em;
    margin-bottom: 2em;
    justify-content: space-around;
}

.box-question {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.form-prenew input,
.form-prenew textarea,
.form-prenew select {
    padding: .7em;
    border: 0;
    border-radius: 5px;
    max-width: 600px;
}

.form-prenew{
    margin-top: 0.5em;
}

.form-prenew label{
    padding: .7em;
    border: 0;
    border-radius: 5px;
    max-width: 600px;
}

.form-prenew a {
    padding: 10px;
    text-align: center;
    max-width: 100%;
    height: 40px;
    background-color: #507efb;
    border-radius: 0.5em;
    color: white;
    margin-top: 0.8em;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
}

.form-prenew a:hover {
    background-color: #082ed8;
    color: #FFF;
}

.info-site{
    display: none;
    flex-direction: column;
    align-items: flex-start;
}

.info-site table{
    padding: .7em;
    border: 0;
    border-radius: 5px;
    max-width: 100%;
}

.info-site a{
    padding: .7em;
    max-width: 98%;
    padding: 0.8em;
    margin: 0 auto;
    background-color: #8a42e7;
    border-radius: 0.5em;
    width: 100%;
    text-align: center;
    color: white;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.info-site a:hover{
    background-color: #6e0dec;
}

.content-items thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.content-items tr {
    border-bottom: 3px solid #ddd;
    margin-bottom: .65em;
}

.content-items td {
    border-bottom: 2px solid #DDD;
    display: block;
    font-size: 0.9em;
    text-align: right;
    margin-top: 0.3em;
}

.content-items td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
}

.content-items td:last-child {
    border-bottom: 0;
}

.siteInfo {
    max-width: 600px;
    display: flex;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

.siteInfo span {
    font-weight: bold;
}

.container-atribuir {
    display: flex;
    background-color: #f8f8f8;
    border-radius: 5px;
    padding: 0.8em;
    align-items: start;
    margin-bottom: 1em;
    flex-direction: column;
}

.container-atribuir {
    display: flex;
    background-color: #f8f8f8;
    border-radius: 5px;
    padding: 0.8em;
    align-items: start;
    margin-bottom: 1em;
    flex-direction: column;
}

.container-atribuir a {
    padding: 0.8em;
    margin-bottom: 1em;
    max-width: 98%;
    width: 100%;
    text-align: center;
    background-color: #8a42e7;
    border-radius: 0.5em;
    color: white;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.container-atribuir select {
    margin-left: 0px;
    padding-left: 0px;
    width: 100%;
    padding: .7em;
    border: 0;
    border-radius: 5px;
    max-width: 98%;
}

.container-atribuir label {
    margin-bottom: 0.5em;
    font-size: 1.4em;
}

.container-atribuir a:hover {
    padding: 0.8em;
    margin-bottom: 1em;
    background-color: #6e0dec;
    border-radius: 0.5em;
    color: white;
    cursor: pointer;
}

.filter-site {
    align-items: flex-start;
    justify-content: flex-start;
}

.filter-site input {
    max-width: 430px;
    width: 100%;
    border: 1px solid #6e0dec;
    padding: 0.5em;
    margin-right: 0.5em;
    border-radius: 8px;
}

.filter-site select {
    border: 1px solid #6e0dec;
    padding: 0.5em;
    margin-right: 0.5em;
    border-radius: 8px;
}

.filter-site input:focus {
    border: 1px solid #6e0dec;
}

.filter-site a {
    background-color: #8a42e7;
    color: white;
    padding: 0.5em;
    margin-right: 0.5em;
    border-radius: 8px;
}

.filter-site a:hover {
    background-color: #6e0dec;
    cursor: pointer;
}

.listsites ul{
    max-width: 100%;
    width: 100%;
}

.listsites li{
    padding: 15px 9pxem;
    border-bottom: 1px solid #6e0dec;
    border-radius: 5px;
}

.listsites li:hover{
    background-color: #6e0dec;
    color: white;
    cursor: pointer;
}