
.title{
  display: flex;
  flex-direction: row;
  margin: 1em 0;
  border-radius: 5px;
  background-color: #f8f8f8a4;
  padding: .8em;
  font-weight: bold;
}

.title span{
  margin-left: 1em;
  font-size: 1.5em;
}