

.form-profiles img{
  margin-bottom: 1em;
  border-radius: 50%;
  object-fit: cover;
}

.form-profiles label{
  margin-bottom: .5em;
  font-size: 1.4em;
}

.form-profiles input, textarea, selct{
  margin-bottom: 1em;
  padding: .7em;
  border:0;
  border-radius: 5px;
  max-width: 600px;
}

.form-profiles input:disabled{
  cursor: not-allowed;
}

.form-profiles button{
  max-width: 600px;
}

.form-profiles a{
  cursor: pointer;
}


table td .action {
  margin-right: 10px;
}

.table-usuarios svg{
  margin: 5px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.indicadores span{
  margin-right: 0.8em;
}

.indicadores b{
  margin-left: 0.2em;
}

/* adjustments  form label */
td.MuiTableCell-root.MuiTableCell-body.MuiTableCell-sizeMedium.css-1ex1afd-MuiTableCell-root[data-label="Status"],
td.MuiTableCell-root.MuiTableCell-body.MuiTableCell-sizeMedium.css-1ex1afd-MuiTableCell-root[data-label="Area"] {
    text-align:center;
}

td.MuiTableCell-root.MuiTableCell-body.MuiTableCell-sizeMedium.css-1ex1afd-MuiTableCell-root[data-label="Area"] {
  text-transform:capitalize!important
}

/* Inputs */

.table-usuarios .level-users {
  display:flex!important;
  flex-direction:column!important;
  gap:10px!important;
}

/* Paginations */
.css-1sazv7p-MuiStack-root>:not(style):not(style) {
  margin: 0 auto!important;
  padding-bottom: 30px;
}

ul.MuiPagination-ul.css-wjh20t-MuiPagination-ul li button{
    background:#380054e8!important;
    padding:10px;
    color:#fff!important;
}
/* Mobile */
@media(max-width:767px) {
  .container.filtros {
    flex-direction: column;
    gap: 15px;
    align-items: stretch
}

.table-users table tr {
  display:flex;
  flex-direction:column;
  align-content: space-between;
  align-items: flex-start;
}

.table-users table tr td:before {
  padding-right:5px
}

.table-usuarios .level-users {
  width: 260px;
}
}