@import "../../styles/_variables.scss";
@import "../../styles/_mixins.scss";

.form-profiles {
  img {
    margin-bottom: 1em;
    border-radius: 50%;
    object-fit: cover;
  }

  label {
    margin-bottom: 0.5em;
    font-size: 1.4em;
  }

  input,
  textarea,
  select {
    margin-bottom: 1em;
    padding: 0.7em;
    border: 0;
    border-radius: 5px;
    max-width: 600px;

    &:disabled {
      cursor: $input-disabled-cursor;
    }
  }

  button {
    max-width: 600px;
  }

  a {
    cursor: pointer;
  }
}

table td .action {
  margin-right: $table-action-margin;
}

.table-usuarios {
  svg {
    margin: 5px;
    border-radius: 5px;
    color: $pagination-btn-color;
    cursor: pointer;
  }

  .level-users {
    display: flex !important;
    flex-direction: column !important;
    gap: 10px !important;
    width: 100%;

    @include respond-to(medium) {
      width: 100%;
    }
  }

  .css-quj9j6-MuiTable-root {
    min-width: 100%;
  }
}

.indicadores {
  span {
    margin-right: 0.8em;
  }

  b {
    margin-left: 0.2em;
  }
}

td.MuiTableCell-root.MuiTableCell-body.MuiTableCell-sizeMedium.css-1ex1afd-MuiTableCell-root[data-label="Status"],
td.MuiTableCell-root.MuiTableCell-body.MuiTableCell-sizeMedium.css-1ex1afd-MuiTableCell-root[data-label="Area"] {
  text-align: center;
}

td.MuiTableCell-root.MuiTableCell-body.MuiTableCell-sizeMedium.css-1ex1afd-MuiTableCell-root[data-label="Area"] {
  text-transform: capitalize !important;
}

.css-1sazv7p-MuiStack-root> :not(style):not(style) {
  margin: 0 auto !important;
  padding-bottom: 30px;
}

ul.MuiPagination-ul.css-wjh20t-MuiPagination-ul li button {
  background: $table-pagination-bg !important;
  padding: 10px;
  color: $pagination-btn-color !important;
}

@media (max-width: 767px) {
  .container.filtros {
    flex-direction: column;
    gap: 15px;
    align-items: stretch;
  }

  .table-users table tr td:before {
    padding-right: 5px;
  }
}