.reports button {
  padding: 0.8em;
  border: 0px;
  background-color: #380054e8;
  color: #fff;
  border-radius: 10px;
  font-weight: bold;
  justify-content: center;
}

.reports button:hover {
  background-color: #3a077c;
}

.reports {
  background-color: #f8f8f8a4;
}
.filter-reports-container {
  padding: 20px 0px 10px 15px;
  background: #f8f8f8a4;
}

@media (max-width: 767px) {
  .filter-reports div {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: nowrap;
  }

  .filter-reports div div {
    min-width: 95%;
  }
}
