@import "../../styles/variables";
@import "../../styles/_mixins.scss";

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: $modal-overlay-bg;
  z-index: 9999;
  height: 100vh;

  .container {
    @include container-style($container-border-color, $modal-container-shadow);
    position: fixed;
    display: flex;
    max-width: 600px;
    height: 90%;
    overflow: scroll;
    top: 5%;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 4em 2rem;
    flex-direction: column;
  }

  .selectOptions {
    gap: 5px;
  }

  h2 {
    margin-bottom: 0.5em;
    font-size: 2em;
  }

  span {
    font-weight: $font-weight-bold;
    font-size: 0.9em;
    color: $text-color-dark;

    i {
      font-weight: 400;
      margin-right: 1em;
      padding: 2px 0px;
      border-radius: 3px;
    }
  }

  p {
    padding-top: 0.5em;
    white-space: pre-wrap;
  }

  a {
    @include button-style($modal-link-bg, $modal-link-hover-bg);
    position: absolute;
    bottom: -125px;
    display: flex;
  }

  a:hover {
    background-color: $modal-link-hover-bg;
  }
}

.close {
  background-color: $close-btn-bg;
  border: 0;
  color: $white-color;
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 12px;
  border-radius: 8px;
  box-shadow: $modal-container-shadow;

  svg {
    margin-right: 5px;
  }
}


.selectOptions {
  gap: 5px;
}

.modal-planoacao .row {
  display: flex !important;
  flex-direction: column;
  gap: 5px;
  padding: 10px 0px 5px 0px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #d9d4d4;
}

.modal-planoacao .row textarea {
  border: 1px solid #b1aeae;
  border-radius: 7px;
  width: 100%;
  padding: 10px;
}

.modal-planoacao .row [type="text"] {
  border: 1px solid #b1aeae;
  border-radius: 7px;
  width: 100%;
  padding: 10px;
  margin-top: 5px;
}

.modal-planoacao .row select {
  border: 1px solid #b1aeae;
  border-radius: 7px;
  width: 100%;
  padding: 10px;
}

.btnAcao a {
  padding: 10px;
  cursor: pointer;
}
div#modal-sim,
div#modal-nao,
div#modal-detentora {
  position: relative;
}

div#modal-nao .btnAcao a,
div#modal-detentora .btnAcao a {
  position: absolute;
  bottom: -55px;
}

div#modal-sim