@import "../../../styles/_variables.scss";
@import "../../../styles/_mixins.scss";

h6.MuiTypography-root.MuiTypography-subtitle1.MuiTypography-gutterBottom.css-1wniyei-MuiTypography-root {
  background: $typography-bg;
  padding: 10px;
  border-radius: 8px;
  color: $white-color;
}

@include respond-to(medium) {
  .css-10bu1ee {
    width: 90% !important;
  }
}
